<div style="text-align: center;">
  <h1 class="design">Welcome for learn routine and navigation</h1>


</div>
<router-outlet>
  <nav>
    <a routerLink="/department" routerLinkActive="active">department</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav>
</router-outlet>
<button type="button" (click)="sendValue()">Checking</button>
<button type="button" (click)="showMyValue()">SecChecking</button>
<div *ngFor="let item of title">
  {{item.ID}} {{item.character}}
</div>
<div *ngFor="let item of myData">
  {{item.Name}} {{item.Ability}} {{item.Bro}}
</div>